@font-face {
    font-family: 'Dancing Script';
    src: url('czcionka/DancingScript-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'Dancing Script', serif;
    font-size: 120%;
    text-align: center;
}
#naglowek1{
    background-color: rosybrown;
    width: 30%;
    float: left;
}
aside{
    text-align: left;
    height: 350px;
    background-color: rosybrown;
    width: 30%;
    float: left;
}
#naglowek2{
    background-color: rosybrown;
    width: 70%;
    height: 100px;
    float: left;
}
#sekcja{
    width: 70%;
    height: 550px;
    overflow: scroll;
    float: right;
}
label{
    line-height: 50px;
}
.miniatury{
    width: 150px;
    transition: width 1s;
}
.miniatury:hover{
    background-color: bisque;
    width: 200px;
}
